<div ui-view>
	<link href="assets/css/teacherHome.css" rel="stylesheet" type="text/css"></link>

	<div class="scrollable" data-anijs="if:click, do: bounce, to: .homepage-item__icon">
		<div class="scrollable-content section">

			<div ng-click="goToPage('Sessions')" class="homepage-item sessions">
				<img class="homepage-item__icon" src="assets/img/sessionsIcon.svg">
				<h1 class="homepage-item__label">My Sessions</h1>
				<div style="clear:both"></div>
			</div>
			<div ng-click="goToPage('Profile')" class="homepage-item profile">
				<img class="homepage-item__icon" src="assets/img/profileIcon.svg">
				<h1 class="homepage-item__label">Profile</h1>
				<div style="clear:both"></div>
			</div>
			<div ng-click="goToPage('Courses')" class="homepage-item courses">
				<img class="homepage-item__icon" src="assets/img/coursesIcon.svg">
				<h1 class="homepage-item__label">Courses</h1>
				<div style="clear:both"></div>
			</div>
			<div ng-click="goToPage('CreateSessions')" class="homepage-item createSessions">
				<img class="homepage-item__icon" src="assets/img/createIcon.svg" src="assets/img/sessionsIcon.svg">
				<h1 class="homepage-item__label">Create Sessions</h1>
				<div style="clear:both"></div>
			</div>
			<div ng-click="goToPage('ReviewSessions')" class="homepage-item reviewSessions">
				<img class="homepage-item__icon" src="assets/img/reviewIcon.svg">
				<h1 class="homepage-item__label">Review Sessions</h1>
				<div style="clear:both"></div>
			</div>
			
		</div>
	</div>


	<div content-for="title">
		<span>Teachers' Home</span>
	</div>

	<div content-for="bottom-navbar">
		<div class="btn-group btn-group-experiment--forward-kinematics justified">
			<!--a class="btn btn-navbar" ng-click="prevSection()"><i class="fa fa-chevron-left fa-navbar"></i> Prev</a>
			<a class="btn btn-navbar" ng-click="nextSection()">Next <i class="fa fa-chevron-right fa-navbar"></i></a-->
		</div>
	</div>
</div>