.reset-form {
	background-color: #ffffff;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
    max-width: 800px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    color:#4e2583;
    margin-top: 10px;
}

.reset-form__button {
	display:block;
	width:100px;
	margin-left:auto;
	margin-right:auto;
}

.reset-form-warning{
	color: red;
	text-align: center;
} 

