.ui-section
{
    width:90%;
    float: left;
}
.ui-experiment__content
{
    white-space: normal;
    float:left;
    clear: both;
    padding-bottom: 110px;
}
.angle-input-container {
    width: 27%;
}
.pose-input-container {
    width: 27%;
}

.navbar-brand-right{
	display:none;
}