<link href="assets/css/signup.css" rel="stylesheet" type="text/css"></link>

<div class="scrollable">
	<div class="scrollable-content section">

		<form name="signupForm" class="signup-form">
			<!--NAME INPUT-->
			<div class="form-group row">
				<label for="accountDetails_name_input" class="control-label signup-form__label col-xs-12 col-sm-3 col-lg-3">Name</label>
				<div class="form-control-wrapper col-xs-12 col-sm-6 col-lg-6">
					<input required type="text" name="name" placeholder="Name" ng-model="accountDetails.name" class="form-control">
					
				</div>
			</div>
			
			<!--EMAIL INPUT-->
			<div class="form-group row">
				<label for="accountDetails_email_input" class="control-label signup-form__label col-xs-12 col-sm-3 col-lg-3">Email</label>
				<div class="form-control-wrapper col-xs-12 col-sm-6 col-lg-6">
					<input required type="email" name="email" placeholder="Email" ng-model="accountDetails.email" class="form-control">
					
				</div>
			</div>

			<!--PASSWORD INPUT-->
			<div class="form-group row">
				<label for="accountDetails_password_input" class="control-label signup-form__label col-xs-12 col-sm-3 col-lg-3">Password</label>
				<div class="form-control-wrapper col-xs-12 col-sm-6 col-lg-6">
					<input required equals="{{accountDetails.confirmPassword}}" min-length="6" type="password" name="password" placeholder="Password" ng-model="accountDetails.password" class="form-control">
				</div>
			</div>

			<!--CONFIRM PASSWORD INPUT-->
			<div class="form-group row">
				<label for="accountDetails_confirm_password_input" class="control-label signup-form__label col-xs-12 col-sm-3 ">Password Confirm</label>
				<div class="form-control-wrapper col-xs-12 col-sm-6 col-lg-6">
					<input required equals="{{accountDetails.password}}" min-length="6" type="password" name="confirmPassword" placeholder="Password Confirm" ng-model="accountDetails.confirmPassword" class="form-control"/>
				</div>
			</div>
			<div ng-show="submitted && signupForm.$error.equals" class="form-group row">
				<div class="col-sm-3"></div>
				<div class="signup-form-warning col-xs-12 col-sm-6">
					<span class="fa fa-exclamation-circle"></span>
					 Your password does not match
				</div>
			</div>
			<div ng-show="submitted && signupForm.password.$error.minLength" class="form-group row">
				<div class="col-sm-3"></div>
				<div class="signup-form-warning col-xs-12 col-sm-6">
					<span class="fa fa-exclamation-circle"></span>
					 Your password is too short (min length: 6 characters).
				</div>
			</div>
			<!--LOGIN BUTTON-->
			<div class="form-group row">
				<button ng-click="submitted = true; signupForm.$valid && signup()" class="signup-form__button btn btn-primary">Sign Up</button>
			</div>

			<div class="form-group row">
				<div class="col-md-12 control">
					<div class="signup-form__message">
						Already have an account?
						<a ui-sref="login">Login Here</a>
					</div>
				</div>
			</div>

		</form>
	</div>

	<!--INJECTED HTML-->

	<!--TITLE-->
	<div content-for="title">
		<i class="fa fa-clipboard"></i>
		<span>Sign Up</span>
	</div>

	<!--BOTTOM NAVBAR-->
	<div content-for="bottom-navbar">
		<!--div class="btn-group justified">
			<a ui-sref="login" class="btn btn-navbar"><i class="fa fa-sign-in fa-navbar"></i> Log In</a>
			<a ng-click="signup()" class="btn btn-navbar" ng-class="{disabled: signupForm.$invalid}" ><i class="fa fa-clipboard fa-navbar"></i> Sign Up</a>
		</div-->
	</div>

	<!--SIGNUP SUCCESS OVERLAY-->
	
	<div overlay="signupSuccessOverlay">
		<h4 class="overlay-title">Signup success!</h4>    
		<!--p>
			Finish creating your REALM account by following the steps sent via email to: {{accountDetails.email}}
		</p-->
		<p>Successfully created your account!</p>
		<p toggle="off" bubble target="signupSuccessOverlay">
			<a ui-sref="login"><span class="btn btn-success btn-lg">Login</span></a>
		</p>  
	</div>

	<div overlay="signupFailureOverlay">
		<h4 class="overlay-title">Error</h4>    
		<p>Unable to signup for REALM. Please try again later.</p>
		<p toggle="off" bubble target="signupFailureOverlay">
			<a><span class="btn btn-primary btn-lg">Close</span></a>
		</p>  
	</div>

	<div overlay="generalErrorOverlay">
		<h4 class="overlay-title">Error</h4>    
		<p>Error: {{generalErrorMessage}}</p>
		<p toggle="off" bubble target="generalErrorOverlay">
			<a><span class="btn btn-primary">Return</span></a>
		</p> 
	</div>

</div>